<div>
  <h1>My Dashboard</h1>
</div>
<div>
  <h2>My appointments</h2>
  <ul>
    <% if @appointments %>
      <% @appointments.each do |appointment| %>
        <li> <%= appointment.pet.name %></li>
        <li> <%= appointment.start_date_time %></li>
        <li> <%= appointment.end_date_time %></li>
      <%end%>
    <%end%>
  </ul>

</div>
<div>
<h2>My pets</h2>
  <p> <%= link_to 'Add a pet', new_pet_path %></p>
  <ul>
    <% if @pets %>
      <% @pets.each do |pet| %>
        <li> <%= pet.name %></li>
        <li> <%= pet.species %></li>
        <li> <%= pet.description %></li>
        <li> <%= pet.availability %></li>
        <li> <%= pet.pet_ability %></li>
        <li> <%= pet.location %></li>
        <li><%= cl_image_tag pet.photo.key, height: 100, width: 200, crop: :fill %></li>
      <%end%>
    <% end %>
  </ul>
</div>

