
<div class="container container-large">

  <div class="container justify-content-center my-3">
    <div class="row d-flex align-items-center flex-column my-4">

      <div>
        <h1>My dashboard</h1>
      </div>

      <br>

        <h4>Success!</h4>
        <br>
        <%= cl_image_tag @appointments.last.pet.avatar_url, crop: :fill %>
        <p>
        <h3>My next appointment</h3>
        <% if @appointments %>
          <p><strong><%= @appointments.last.pet.name %></strong></p>
          <p><strong>From: </strong><%= @appointments.last.start_date_time.strftime("%A, %d %b %Y @ %l:%M %p") %>
          <br>
          <strong>To: </strong><%= @appointments.last.end_date_time.strftime("%A, %d %b %Y @ %l:%M %p") %></p>
        <% end %>
        <p>You are well on your way to meeting your new PetPal! </p>

        <p>You'll be spending time with <strong><%= @appointments.last.pet.name %></strong> next. It's going to be awesome.</p>
        <hr>
        <p class="mb-0">Make sure to check in with the pet's owner about any special care instructions.</p>
      </div>

      <hr>

    </div>
  </div>

  <div class="container">
    <div class="d-flex justify-content-around">

      <div class="flex-item">
        <h3>Past appointments</h3>
        <% if @appointments %>
          <% @appointments.each do |appointment| %>
            <% unless @appointments.last == appointment %>
              <%= cl_image_tag appointment.pet.avatar_url, height: 225, width: 300, crop: :fill %>
              <p><strong><%= appointment.pet.name %></strong></p>
              <p>From: <%= @appointments.last.start_date_time.strftime("%A, %d %b %Y @ %l:%M %p") %>
              <br>
              To: <%= @appointments.last.end_date_time.strftime("%A, %d %b %Y @ %l:%M %p") %></p>
              <hr>
              <% end %>
          <% end %>
        <% end %>
      </div>

    </div>


  </div>


</div>
