<div class="container">
  <div class="row">

    <div class="col-3">
      <h2>User profile</h2>

      <div class="card-container d-flex">
       <div class="card" style="width: 16rem;">
          <%= cl_image_tag @user.avatar_url,:class=>"card-img-top", crop: :fill %>
          <div class="card-body">
            <h5 class="card-title"><%= @user.username %></h5>
            <p class="card-text"><%= @user.bio %></p>
            <% if current_user == @user %>

            <div class="btn btn-warning btn-sm mb-2">
              <%= link_to 'Edit profile', edit_user_path, class: "link-color" %>
            </div>
            <div class="btn btn-warning btn-sm">
              <%= link_to 'Add a pet', new_pet_path, class: "link-color" %>
            </div>

            <% end %>

          </div>
        </div>

      </div>

    </div>


    <div class="col-9">
      <div>
        <h2>PetPals owned by <%= @user.username %></h2>
        <p> </p>
      </div>
      <div class="card-columns">
        <% @pets.each do |pet| %>
          <%= link_to pet_path(pet), style: "color: black; text-decoration: none" do %>

            <div class="card" style="width: 300px;">
              <%= cl_image_tag pet.avatar_url, height: 225, width: 300, crop: :fill %>
              <div class="card-body">
                <h5 class="card-title"><%= pet.name %></h5>
                <p class="card-text"><%= pet.description %></p>
                <% if current_user == @user %>
                  <a href="#" class="btn btn-warning btn-sm">Edit PetPal</a>
                  <div class="btn btn-warning btn-sm">
                    <%= link_to 'Delete PetPal', pet_path(pet), class: "link-color", method: :delete, data: { confirm: "Are you sure you want to delete this PetPal?"} %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>
