
<div class="banner d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("landing-bg.jpg") %>);">
  <div class="container">
    <div class="row justify-content-center pb-3">
      <h1>Find your furry pal for a weekend or just for a walk</h1>
      <div class="search-inline">
        <form action="/pets" class="form-inline justify-content-center">
          <div class="input-group mb-2 mr-sm-2">
            <%= form_tag pets_path, method: :get do %>
            <div class="label-home">
              <%= text_field_tag :query1,
              params[:query1],
              class: "form-control",
              placeholder: "Search by species" %>
            </div>
            <div class="label-home">
              <%= text_field_tag :query2,
              params[:query2],
              class: "form-control",
              placeholder: "Search by location" %>
            </div>
            <%# <button type="submit" class="btn btn-warning mb-2">Find Your PetPal!</button> %>
            <%= submit_tag "Find Your PetPal!", class: "btn btn-warning mb-2" %>
            <% end %>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="scrollhint">
    <a href="#" class="arrow down" onclick="scrollDown(event)">Scrolldown</a>
  </div>
</div>

<div class="container">



<div class="container">
  <div class="row justify-content-center">

    <h2>How does it work?</h2>
    <br>

    <div class="card-container">

      <div class="row info-card">
        <div class="col-5 img-show">
          <%= image_tag("landing-1.jpg", size: "300x250") %>
        </div>
        <div class="col-7">
          <h3>Find your furry PetPal</h3>
          <p>Need a break from the chaos that is life? Don't get stuck between a rock and a hard place. Browse now and find your next animal adventure - dog 🐶 or dragon 🐉 , hamster 🐹 or hare 🐰, make your day much easier to bear 🧸.</p>
        </div>
        <!-- </div> -->
      </div>

      <div class="row info-card">
        <div class="col-9 img-show">
          <h3>
            <blink>Book your PetPal</blink>
          </h3>
          <p>Browse different pets, read about their incredible capabilities, learn about their owners, and book your dates now - imagine your afternoon coffee ☕ today with an extra cuddle 🦁.</p>
        </div>
        <div class="col-3">
          <%= image_tag("landing-2.jpg", size: "350x250") %>
        </div>
      </div>

      <div class="row info-card">
        <div class="col-5 img-show" >
          <%= image_tag("landing-3.jpg", size: "250x300") %>
        </div>
        <div class="col-7">
          <h3>Have loads of fun!</h3>
          <p>Discover your next lover and friend and go on a magic carpet ride - your new PetPal will show you the world and open your eyes, you'll see that the possibilities are endless!</p>
        </div>
      </div>

    </div>
  </div>
</div>
<br>



<!-- Start adding reviews  -->


<div class="container">
  <div class="row justify-content-center">
    <h2>Connect to a Worldwide Community of Pet Lovers </h2>
  </div>
    <ul class="hash-list cols-3 cols-1-xs pad-30-all align-center text-sm">
        <li>
          <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" class="wpx-100 img-round mgb-20"/>
          <p class="fs-110 font-cond-l" contenteditable="false">"Running with Mingo in the park was such a great way to distract myself from the pain that is exercising, still don't know if I was running with him or away from him, but all good."</p>
          <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false"><strong>Exhilarating experience!</strong></h5>
            <a title="" href="#">Carli</a>
                <i>from Gdansk, Poland</i>
        </li>
        <li>
          <img src="https://bootdey.com/img/Content/avatar/avatar4.png" class="wpx-100 img-round mgb-20"/>
          <p class="fs-110 font-cond-l" contenteditable="false">"Never knew dragons existed until Ringo took me for a little aerial ride above my neighborhood, we even spied on the neighbors and almost started a!"</p>
          <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false"><strong>Absolutely loved it!</strong></h5>
             <a title="" href="#">Ken</a>
                <i>from Malibu, California</i>
        </li>
        <li>
          <img src="https://www.bootdey.com/img/Content/avatar/avatar2.png" class="wpx-100 img-round mgb-20"/>
          <p class="fs-110 font-cond-l" contenteditable="false">"Pure, blood pumping adrenaline - Bingo the bear even left me a small present resembling a bitemark, I bet he misses me already."</p>
          <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false"><strong>Highly recommend!</strong></h5>
              <a title="" href="#">Sam</a>
                <i>from Vienna, Austria</i>
        </li>
      </ul>
</div>


<!-- End adding reviews -->


<!-- Start JS script -->

<script>

toggleItem = function(){
    var el = document.getElementsByTagName('blink')[0];
    if (el.style.display === 'block') {
        el.style.display = 'none';
    } else {
        el.style.display = 'block';
    }
}

setInterval(toggleItem, 1000);

</script>


<!-- end JS script -->


<script>
  function scrollDown(e) {
    e.preventDefault()
    document.querySelector("div.container:nth-child(3)").scrollIntoView({behavior: "smooth"});
  }
</script>
